<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado liebre</title>
</head>

<body>
    <header>
        <div> <img src="/images/logo-mercado-liebre.svg" width="100%" alt="Logo de mercado liebre"> </div>
        <section>
            <article>
                <p>Lugar para poner la barra de busquedas</p>
            </article>
            <article>
                <p>Compra en cuotas y sin tarjeta de credito</p>
            </article>
        </section>

        <nav>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="">Crea tu cuenta</a></li>
                <li><a href="">Ingresa</a></li>
                <li><a href="">Mis compras</a></li>
            </ul>
        </nav>
    </header>
    <div> <section><img src="/images/img-home-banner.jpg" width="100%" alt=""></section> </div>
    <main>
        <h3>Seccion: Basada en tu ultima visita</h3>
        <section>
            <article>
                <div> <img src="/images/img-cafetera-moulinex.jpg" width="100%" alt=""> </div>
                <p>$6.770</p>
                <p>40% off</p>
                <h4>Cafetera Moulinex</h4>
            </article>

            <article>
                <div> <img src="/images/img-macbook-pro-2019.jpg" width="100%" alt=""> </div>
                <p>$230.000</p>
                <p>20% off</p>
                <h4>MacBook Pro 2019</h4>
            </article>

            <article>
                <div> <img src="/images/img-samsung-galaxy-s10.jpg" width="100%" alt=""> </div>
                <p>$70.500</p>
                <p>10% off</p>
                <h4>Samsung Galaxy S10</h4>
            </article>

            <article>
                <div> </div><img src="/images/img-tv-samsung-smart.jpg" width="100%" alt=""> </div>
                <p>$23.200</p>
                <p>5% off</p>
                <h4>Smart Samsung 43"</h4>
            </article>
        </section>
        <h3>Seccion de ofertas</h3>
        <section>
            <article>
                <div> <img src="/images/img-cafetera-moulinex.jpg" width="100%" alt="">  </div>
                <p>$6.770</p>
                <p>40% off</p>
                <h4>Cafetera Moulinex</h4>
            </article>

            <article>
                <div> <img src="/images/img-macbook-pro-2019.jpg" width="100%" alt="">  </div>
                <p>$230.000</p>
                <p>20% off</p>
                <h4>MacBook Pro 2019</h4>
            </article>

            <article>
                <div> <img src="/images/img-samsung-galaxy-s10.jpg" width="100%" alt="">  </div>
                <p>$70.500</p>
                <p>10% off</p>
                <h4>Samsung Galaxy S10</h4>
            </article>

            <article>
                <div>   <img src="/images/img-tv-samsung-smart.jpg" width="100%" alt="">  </div>
                <p>$23.200</p>
                <p>5% off</p>
                <h4>Smart Samsung 43"</h4>
            </article>

        </section>

    </main>

    <footer>
       
            <article>
                <h4>Paga con tarjeta o en efectivo</h4>
                <p>Con MercadoLiebreCash tenes cuotas sin interes con tarjeta o efectivo oen puntos de pagos. ¡Y siempre
                    es seguro!</p>
            </article>
            <article>
                <h4>Envio gratis desde los $2.500</h4>
                <p>Solo por estar registrado en mercado liebre tenes envios gratis en miles de productos. Es un
                    beneficio de mercado puntos</p>
            </article>
            <article>
                <h4>Seguridad de principio a fin</h4>
                <P>¿No te gusta? ¡Devolvelo! En mercado liebre no hay nada que no puedas hacer porque estas siempre protegid@</P>
                <P> <span>Copyright©1999-2020 Mercado Liebre S.R.L</span> </P>
            </article>
       

    </footer>

</body>

</html>