@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap");
:root {
 
  --color-amarillo: #eac926;
  --color-azul: #03264c;
  --color-celeste: #1259c3;
  --color-gris-oscuro: #666;
  --color-gris-claro: #ebebeb;
  --color-verde: #39b54a;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
